/* slider all */
.slider {
    background-color: gray;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    cursor: all-scroll;
}
.slider > .poster{
    min-width: 100%;
    scroll-snap-align: center;
}
.poster > img {
    width: 100%;
}
/* slider header */
.slider-header{
    width: 80%;
    height: 500px;
    margin: auto;
}
.full {
    height: 100%;
}
/* feedback student */
.slider-feedback{
    width: 50%;
    height: 380px;
    margin: 50px 0 50px 15%;
    border-radius: 15px;
    background-color: darkblue;
}
.feedback{
    display: flex;
}
.img-feed{
    width: 50%;
    background-color: cyan;
    height: 100%;
}
.img-feed > img{
    width: 100%;
}
.decs-feed{
    width: 50%;
    padding: 30px;
}
.decs-feed > .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 3px orange;
}
.decs-feed > .detail {
    font-size: 1.5rem;
    color: gold;
    font-weight: bold;
    word-spacing: 12px;
    text-shadow: 1px 1px 2px gold;
    line-height: 2.5rem;
    font-family: 'khmer os battambang';
    text-align: center;
}

/* news slider */
.news-slider{
    width: 45%;
    height: 500px;
    border-radius: 15px;
    border: 2px solid gold;
    box-shadow: 0 0 10px gray;
    margin: auto;
}
.news-slider > .poster > img {
    height: 100%;
}

/* album */
.album{
    margin: auto;
    width: 50%;
}
.slider-album{
    height: 550px;
}

